h3 {
  font-size: 20px;
  margin: 0;
}
h2 {
  font-size: 25px;
  margin: 0;
}
h1 {
  font-size: 30px;
  margin: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  color: #333;
}
html {
  font-size: 62.5%;
}
.buscador {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25rem;
  background-color: #8841da;
  background-size: cover;
}
.buscador form {
  margin-left: 5%;
  width: 90%;
}
.buscador__input {
  width: 100%;
  height: 6rem;
  padding: 2rem;
  border: none;
  border-radius: 3rem;
  font-size: 2.5rem;
}
.encabezado--con-filtros {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem 0;
}
.encabezado--con-filtros h2 {
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3.2rem;
  font-family: 'Oswald', sans-serif;
  margin-left: 2rem;
}
.encabezado--con-filtros .filtros {
  display: none;
}
.contenido,
.noticias {
  flex-direction: column;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem 0;
}
.caja,
.noticias .noticia {
  width: 90%;
  margin: 0 5% 4rem 5%;
  background-color: #fff;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.2);
}
.caja__contenido,
.noticias .noticia__contenido {
  padding: 2rem;
  background-color: #fff;
}
.caja__contenido span,
.noticias .noticia__contenido span {
  text-transform: uppercase;
  color: #8841da;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}
.caja__contenido h3,
.noticias .noticia__contenido h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}
.caja__contenido p,
.noticias .noticia__contenido p {
  font-size: 1.6rem;
}
.caja__imagen img,
.noticias .noticia__imagen img {
  width: 100%;
}
.estadistica--articulos {
  height: 75px;
  padding: 2rem;
  font-size: 1.7rem;
  border-top: 0.1rem solid #333;
}
.estadistica--articulos ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space evenly;
}
.estadistica--articulos ul li {
  list-style: none;
  color: rgba(51,51,51,0.5);
}
.estadistica--articulos ul span {
  margin: 1rem;
}
.contenido,
.noticias {
  flex-direction: column;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem 0;
}
.caja,
.noticias .noticia {
  width: 90%;
  margin: 0 5% 4rem 5%;
  background-color: #fff;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.2);
}
.caja__contenido,
.noticias .noticia__contenido {
  padding: 2rem;
  background-color: #fff;
}
.caja__contenido span,
.noticias .noticia__contenido span {
  text-transform: uppercase;
  color: #8841da;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}
.caja__contenido h3,
.noticias .noticia__contenido h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}
.caja__contenido p,
.noticias .noticia__contenido p {
  font-size: 1.6rem;
}
.caja__imagen img,
.noticias .noticia__imagen img {
  width: 100%;
}
.noticias {
  background-color: #333;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem 0;
}
.noticias .noticia {
  background-color: #fff;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.2);
  width: 90%;
}
.noticias .noticia p {
  font-size: 1.6rem;
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20%;
  background-color: #333;
  border-top: 2px solid #8841da;
  font-size: 1.6rem;
}
.footer__name {
  color: #fff;
}
.footer__link {
  font-family: 'Oswald', sans-serif 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 4rem;
  color: #8841da;
  text-decoration: none;
  margin-bottom: 2rem;
}
