@import "./componentes/general.styl"
@import "./componentes/buscador.styl"
@import "./componentes/encabezado.styl"
@import "./componentes/cajas.styl"
@import "./componentes/estadisticas.styl"
@import "./componentes/noticias.styl"
@import "./componentes/footer.styl"