
.buscador
    display flex
    align-items center 
    width: 100%
    height: 25rem   
    background-color color-secundario
    background-size:cover
    
    form 
       
        margin-left 5%
        width 90%
     
  
    &__input
        width: 100%
        height : 6rem
        padding 2rem
        border none
        border-radius 3rem
        font-size 2.5rem