.encabezado--con-filtros
    contenedor()
    h2
        margin-top 1rem
        text-transform uppercase
        font-weight 500
        font-size 3.2rem
        font-family fuente2
        margin-left 2rem
    .filtros
        display none
