.estadistica--articulos
    height 75px
    padding 2rem
    font-size 1.7rem
    border-top 0.1rem solid color-principal
    ul 
        display flex
        margin 0 
        padding 0   
        justify-content space evenly
        
        li
            list-style none 
            color opacidad(color-principal,.50)
        span 
            margin 1rem    