@import "./cajas.styl"
.noticias
    background-color color-principal
    @extend .contenido
    width 100%
    
    contenedor()

    .noticia 
        caja-sombra()
        @extend .caja
        width 90%
        p    
            font-size 1.6rem